@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.top_nav {
  background-color: #3F2B96;
  color: white;
  padding: 2rem 0.5rem 2rem 0.5rem; 
  display: flex;
  align-items: center;
}
.nav-head {
  margin-left: 1rem;
}
.bottomNav {
  border-top: 0.2rem solid #D9D9D9;
  border-bottom: 0.2rem solid #D9D9D9;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
  font-size: 0.7rem;
  color: #929292;
  padding: 0.2rem;
}
.bottomNav u {
  color: #7465B6;
}
.bottomNav li {
  margin: 0.1rem;
}
.imgBox {
  border: 2px dotted #929292;
  height: 10rem;
  margin: 1rem;
}
.uploadBtn {
  background-color: #7465B6;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.4rem;
  color: white;
  font-weight: 600;
}
.moreBox {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smallImgBox {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px dotted #929292;
  border-radius: 0.5rem;
}
#form1 {
  /* border: 1px solid red; */
}
.formItems {
  /* border: 1px solid red; */
  /* display: flex; */
}